<Configuration status="info">
    <Properties>
        <Property name="layout">%d [%t] %-5level %logger - %m%n</Property>
    </Properties>
    <!-- Appenders will publish log files -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
<!--            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <PatternLayout pattern="${layout}"/>
        </Console>
        <File name="LogFile" fileName="BenchmarkDBAStar.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>